@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#root {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 1px;
}

.active {
    @apply underline;
}

input {
    @apply border border-gray-500 px-2 py-1 rounded
}

button {
    @apply self-center disabled:text-gray-300 disabled:bg-gray-400 bg-blue-500 hover:bg-blue-600 rounded px-4 py-1 text-white;
}